.footer {
  padding: 3rem 0 1rem;
  background: $primary-color-dark;
  font-size: 0.9rem;
  color: rgba(white, 0.5);

  &__social-icon {
    font-size: 2rem;
    color: rgba(white, 0.2);
    display: block;

    &:hover {
      color: rgba(white, 0.5);
    }
  }
}
