// COLORS
$primary-color-dark: #d32f2f;
$primary-color: #f44336;
$primary-color-light: #ffcdd2;
$primary-color-text: #ffffff;
$accent-color: #ffc107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$neutral-light: #eee;

// FONTS
$font-accent: 'Pacifico', cursive;
$font-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Arial,
  Helvetica, sans-serif;

$theme-colors: (
  'primary': $primary-color
);
